<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Win7App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <Win7App.Properties.Settings>
            <setting name="ApplicationFriendlyName" serializeAs="String">
                <value>Sample App</value>
            </setting>
            <setting name="ThemeSource" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#FF3399FF</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>Large</value>
            </setting>
            <setting name="SelectedPalette" serializeAs="String">
                <value>Metro</value>
            </setting>
            <setting name="DefaultHelpURL" serializeAs="String">
                <value>https://github.com/aaron-salisbury/ProjectTemplates</value>
            </setting>
        </Win7App.Properties.Settings>
    </userSettings>
</configuration>
