<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AaronSalisbury.DotNetFrameworkToolkit" version="0.2.7" targetFramework="net451" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net451" />
  <package id="PatternsAndPractices.Cryptography" version="2.0.1" targetFramework="net451" />
  <package id="PatternsAndPractices.Logging" version="2.0.0" targetFramework="net451" />
  <package id="PatternsAndPractices.Unity" version="1.2.0" targetFramework="net451" />
  <package id="System.Data.SqlServerCe_unofficial" version="4.0.8482.1" targetFramework="net451" />
</packages>